<script>
$(document).ready((function(){
    $("#addlist").click(function(){
      var folder = document.createElement("div");  // Create with DOM
<<<<<<< HEAD
=======

>>>>>>> c1872d1b865113b574c7b21a9114516ecba39744
      $(folder).attr("class", "portlet")
      $(folder).attr("name", "test")
      $(folder).css("border", "1px solid")
      $(folder).css("border-color", "red")
      $(folder).html("ASDFFF")
<<<<<<< HEAD
=======

>>>>>>> c1872d1b865113b574c7b21a9114516ecba39744
      $.post("bookmkfolder/createfolder",
      {
        "bookmkfolder[bookmkfoldertitle]" : "test",
        "bookmkfolder[bookmkfoldercolor]" : "red"
      },
          function(data, status){
              // alert("Data: " + data + "\nStatus: " + status);
              $(".item").append(folder);         // Append the new elements
          });
      // $(".item").append(folder);         // Append the new elements
    })
}))
</script>

<h1>포스트</h1>
<div class ="container">
  <div class="row">
    <div class="col-md-12">
      <div class=item>
        <div class="portlet">
          ASDF
        </div>
        <input type="button" id="addlist" value="add list...."/>
      </div>

      <% @posts.each do |post| %>
        <ul>
          <%= "#{post.id}번 글입니다" %>
          <li>
              <%= link_to post.title, post %>
              <%= post.content %>
              <% if user_signed_in? %>
              <%= link_to icon('pencil'), edit_post_path(post) if post.updatable_by? current_user %>&nbsp;
              <%= link_to icon('trash'), post, method: :delete, data: { confirm: 'Are you sure?' } if post.deletable_by? current_user %>
              <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to '새 글 쓰기', new_post_path %>
