<!-- 북마크 폴더 만드는 뷰 -->
 <div class="board-canvas">
  <div class="panel-add">
    <%= button_tag "Add a folder", type: 'button', class: 'addfolder', id: 'addPanelBtn' %>
      <div id="addPanelInput" class="board-make" style="display:none">
          <%= simple_form_for @bookmkfolder, remote: true, url: {action: "createfolder"} do |f| %>
          <%= f.input_field :bookmkfoldertitle, class: 'board-make-input', :autocomplete => :off, :autocorrect => :off, :spellcheck => false, placeholder: 'Add a folder' %>
          <%= f.button :submit, "Save", id: 'savePanel', class: 'save-button' %>
          <%= button_tag "", type: 'button' , class: 'delete-button' %>
          <!-- <%= f.input :email, placeholder: 'Email', label: false, required: true, autofocus: true, input_html: { class:  'input' } %> -->
          <!-- <form action="bookmkfolders/createfolder" method="post" data-remote="true"> -->
            <!-- <input type="text" name="bookmkfolder[bookmkfoldertitle]" id="panelTitle" class="board-make-input" autocomplete="off" autocorrect="off" spellcheck="false" placeholder=" Add a folder"> -->
            <!-- <input type="submit" value="SAVE" id="savePanel" class="save-button"> -->
            <!-- <button class="delete-button"><span class="fa fa-times fa-1x" aria-hidden="true"></span></button> -->
          <!-- </form> -->
          <% end %>
      </div>
 </div>
</div>

<!-- 수정필요 -->
<div class="board-canvas">
    <div class="panel-wrapped">
      <div class="panel" style="background-color:#ff5000">
       <h2 class="panel-title">bookMarker</h2>
      <input class="thVal" type="text" style="display: none">
       <div class="panel-menu">
           <button class="addfolder js-add-card">Paste URL here</button>
           <div class="add-card-form" style="display: none">
               <form>
               <input type="text" name="input" class="board-make-input" autocomplete="off" autocorrect="off" spellcheck="false" placeholder=" Add a folder">
               <input type="button" value="SAVE" class="save-button js-save-card">
               <button class="delete-button js-delete-btn" type="button"><span class="fa fa-times fa-1x" ></span></button>
               </form>
           </div>
       </div>
       <ul class="card-list">
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
         <li class="card-item">
           <a class="card-link" href="http://www.naver.com" target="_black">
               <img class="card-thumbnail" src="#" alt="#">
               <p class="card-txt">http:www.naver.com</p>
           </a>
         </li>
       </ul>
       </div>
   </div>
   <div class="panel-add">
       <button class="addfolder js-add-panel">Add a folder</button>
       <div class="board-make js-panel-input" style="display:none">
           <input type="text" name="input" class="board-make-input js-panel-title" autocomplete="off" autocorrect="off" spellcheck="false" placeholder=" Add a folder">
           <input type="button" value="SAVE" class="save-button js-save-panel">
           <button class="delete-button js-delete-panel"><span class="fa fa-times fa-1x" aria-hidden="true"></span></button>
       </div>
  </div>
   </div>
