<!-- 북마크 폴더 만드는 뷰 -->



<div class="board-canvas">
<!-- 메인 폴더 & 북마크 추가 기능 -->
  <% @bookmkfolders.each do |bookmkfolder| %>
          <div class="panel-wrapped">
            <ul>
              <li class="panel">
                <!-- <%= text_field_tag :test, "", class: 'thVal' %> -->
                <h2 class="panel-title"><%= bookmkfolder.bookmkfoldertitle %></h2>
                <div class="panel-menu">
                  <%= button_tag "Add a bookmark-url", type: 'button', class: 'addfolder js-add-card' %>
                  <div class="add-card-form">
                    <%= simple_form_for @bookmkfolder, remote: true, url: {action: "<%= @bookmkfolder.id %>"} do |k| %>
                    <%= k.input_field :bookmktitle, class: 'board-make-input', autocomplete: :off, autocorrect: :off, spellcheck: false, placeholder: 'Add a bookmark' %>
                    <%= button_tag "SAVE", type: 'submit' , class: 'save-button js-save-card' %>
                    <%= button_tag "", type: 'button', class: 'delete-button' %>
                    <% end %>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="card-list">
              <% bookmkfolder.bookmks.each do |bookmk| %>
              <li class ="card-item">
                <%= link_to "","<%= bookmk.bookmktitle %>", class: 'card-link' %>
                <%= image_tag "#", class: 'card-thumbnail' %>
                <p class = "card-txt"><%= bookmk.bookmktitle%></p>
              </li>
              <%end%>
            </ul>
          </div>
      <%end%>

                <div class="panel-add">
                  <%= button_tag "Add a folder", type: 'button', class: 'addfolder js-add-panel' %>
                    <div class="board-make js-panel-input" style="display:none">
                      <%= simple_form_for @bookmkfolder, remote: true, url: {action: "createfolder"} do |f| %>
                      <%= f.input_field :bookmkfoldertitle, class: 'board-make-input', :autocomplete => :off, :autocorrect => :off, :spellcheck => false, placeholder: 'Add a folder' %>
                      <%= button_tag "SAVE", type: 'submit', class: 'save-button js-save-panel' %>
                      <%= button_tag "", type: 'button' , class: 'delete-button js-delete-panel' %>
                      <% end %>
                    </div>
                  </div>
</div>
