
<script>
$(document).ready((function(){
    $("#addlist").click(function(){
      var folder = document.createElement("div");  // Create with DOM
      $(folder).attr("class", "portlet")
      $(folder).attr("name", "test")
      $(folder).css("border", "1px solid")
      $(folder).css("border-color", "red")
      $(folder).html("ASDFFF")

      $.post("bookmkfolders/createfolder",
      {
        "bookmkfolder[bookmkfoldertitle]" : "test",
        "bookmkfolder[bookmkfoldercolor]" : "red"
      },
          function(data, status){
              // alert("Data: " + data + "\nStatus: " + status);
              $(".item").append(folder);         // Append the new elements
      });
      // $(".item").append(folder);         // Append the new elements
    })
}))
</script>


<p id="notice"><%= notice %></p>

<h1>포스트</h1>
<div class ="container">
  <div class="row">
    <div class="col-md-12">
      <div class=item>
        <div class="portlet">
          test
        </div>
        <input type="button" id="addlist" value="add list...."/>
      </div>

      <% @bookmkfolders.each do |bookmkfolder| %>
        <ul>
          <%= "#{bookmkfolder.id}번 글입니다" %>
          <li>
              <%= link_to bookmkfolder.bookmkfoldertitle, bookmkfolder %>
              <%= bookmkfolder.bookmkfoldercolor %>
              <% if user_signed_in? %>
              <%= link_to icon('pencil'), edit_bookmkfolder_path(bookmkfolder) if bookmkfolder.updatable_by? current_user %>&nbsp;
              <%= link_to icon('trash'), bookmkfolder, method: :delete, data: { confirm: 'Are you sure?' } if bookmkfolder.deletable_by? current_user %>
              <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<br>


<%= link_to '새 폴더 추가', new_bookmkfolder_path %>
