<ul class="board-canvas" data-update-url="<%=sort_bookmkfolders_url%>">
  <% @bookmkfolders.each do |bookmkfolder| %>
    <div class="panel-wrapped">
        <li id="folder_<%=bookmkfolder.id%>" class="panel" style="background-color:<%=bookmkfolder.bookmkfoldercolor%>">
          <h2 class="panel-title"><%=bookmkfolder.bookmkfoldertitle%></h2>
          <div class="panel-menu">
              <button class="addfolder js-add-card">Add a card</button>
              <div class="add-card-form" style="display: none">
                  <input type="text" name="input" class="board-make-input" autocomplete="off" autocorrect="off" spellcheck="false" placeholder=" Add a folder">
                  <input type="button" value="SAVE" class="save-button js-save-card">
                  <button class="delete-button"><span class="fa fa-times fa-1x" aria-hidden="true"></span></button>
              </div>
          </div>
        </li>
    </div>
  <%end%>

    <div class="panel-add">
          <%= button_tag "Add a folder", type: 'button', class: 'addfolder js-add-panel' %>
          <div class="board-make js-panel-input" style="display:none">
              <%= simple_form_for @bookmkfolder, remote: true, url: {action: "createfolder"} do |f| %>
              <%= f.input_field :bookmkfoldertitle, class: 'board-make-input', :autocomplete => :off, :autocorrect => :off, :spellcheck => false, placeholder: 'Add a folder' %>
              <%= f.submit "SAVE", class: 'save-button js-save-panel' %>
              <%= button_tag "X", type: 'button' , class: 'js-delete-panel' %>
              <%= f.hidden_field :bookmkfoldercolor, class: 'js-color' %>
              <% end %>
          </div>
    </div>
</ul>
<!-- <script>
    var createColor = function() {
            var colors = ['#c9ddff', '#c9ffdd', '#ffd2c9', '#c9caff', '#fdc9ff', '#fffdc9', '#c9fffc', '#ffc9c9', '#ffe5c9', '#eaffc9']
//
            var rand = Math.floor(Math.random() * colors.length);
            return colors[rand];
        }
    $('.js-color').val(createColor());
</script> -->
