<p id="notice"><%= notice %></p>

<p>
  <strong>Bookmkfoldertitle:</strong>
  <%= @bookmkfolder.bookmkfoldertitle %>
</p>

<p>
  <strong>Bookmkfoldercolor:</strong>
  <%= @bookmkfolder.bookmkfoldercolor %>
</p>

<%= link_to 'Edit', edit_bookmkfolder_path(@bookmkfolder) %> |
<%= link_to 'Back', bookmkfolders_path %>
