<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarker</title>
    <meta charset ="utf-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale =1.0, maximum-scale =1.0, user-scalable = 0"/>
    <%= csrf_meta_tags %>
    <!-- css랑 js -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- log in 되었을 시 화면 -->
  <% if user_signed_in? %>
    <!-- Header -->
    <%= render "layouts/header" %>
    <!--Posts  -->
    <div class="container">
      <%= render "devise/shared/flash_messages", flash: flash %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <!-- 여기는 log in -->
  <% else %>

  <!-- 오른쪽에 들어갈 로그인 -->
  <div class= "login container">
      <%= yield %>
  </div>

  <% end %>
  
  </body>
</html>
