<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarker</title>
    <meta charset ="utf-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale =1.0, maximum-scale =1.0, user-scalable = 0"/>
    <%= csrf_meta_tags %>
    <!-- css랑 js -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  </head>



  <body>
  <!-- log in 되었을 시 화면 -->
  <% if user_signed_in? %>
   <%= render 'layouts/header' %> <!-- Header -->

    <div class="container">
      <%= yield %>
    </div>

  <% else %>
  <!-- log in 화면 -->
  <div class= "login-container">
      <%= yield %>
  </div>

  <% end %>

  </body>
</html>
